/*-------------------------------------  Color variables (Following our style guide) -------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

header {
  width: 100%;
  background: grey;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; }

#wrapper {
  display: flex;
  width: 50%;
  justify-content: center; }

#innerWrapper {
  margin: -5em 0;
  z-index: 100000;
  background: lightgrey;
  padding: 3em 0; }

#contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%; }

.row {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  width: 100%;
  justify-content: space-around; }

section {
  padding: 0 3em; }

button, input[type=submit] {
  /*this should become a global rule! all buttons should be the same */
  padding: 1em;
  width: 50%;
  background-color: #028910; }

button:hover {
  background-color: #015F0B;
  cursor: pointer; }

/*-------------------------------------  index -------------------------------------*/
#fpHeader {
  display: flex;
  align-items: center;
  flex-direction: column; }

.box {
  height: 20em;
  width: 20em;
  background: blue;
  margin: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center; }

#btnFindMoreEvents {
  display: flex;
  justify-content: center;
  flex: 1; }

/*------------------------------------- Contact page specific -------------------------------------*/
#contactInfo {
  display: flex;
  flex: 1; }
  #contactInfo li {
    list-style-type: none;
    padding: .5em 0; }

#socialMedia {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1; }
  #socialMedia .fa {
    font-size: 3em;
    padding: .2em; }

#googleMap {
  width: 100%; }

/*contact form*/
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #contactForm input, #contactForm textarea {
    padding: 1em; }
  #contactForm .row {
    margin: 0; }
  #contactForm textarea {
    width: 100%;
    height: 10em;
    margin: 1em; }

input.textField {
  width: 50%;
  margin: 1em; }

input.subject.textField {
  width: 100%; }

/* ------------------------   END CONTACT PAGE -------------------------------------*/
footer {
  background: grey;
  width: 100%;
  height: 15em;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center; }

/* ------------------------   PARTNERS PAGE -------------------------------------*/
.infobox {
  width: 100%; }

.leftpanel {
  width: 50%;
  float: left; }

.leftpanel h2, .rightpanel h2 {
  text-align: left;
  margin: 0; }

.rightpanel {
  width: 50%;
  float: right; }

.btnBecomePartner {
  width: 50%;
  height: 30px; }

.ourpartners {
  text-align: center; }

/* ------------------------   NAVIGATION (Header + Footer) -------------------------------------*/
.navigation {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100vw;
  display: flex;
  height: 75px; }

.logo {
  width: 75px;
  height: 75px;
  margin-left: 20px; }

.navitems {
  height: 100%;
  display: flex;
  align-items: center; }

.navitems a {
  font-size: 1.3em;
  text-decoration: none;
  padding: 10px;
  margin: 15px 20px 0px 20px;
  color: black; }

.navitems a:hover {
  color: #1B5E20; }

.logolinkcontainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start; }

.partner {
  text-decoration: none;
  margin: 0px 0px 0px 20px;
  color: green; }

.navigationSearch {
  margin-right: 20px;
  height: 200px; }

footer {
  background-color: #388E3C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%; }
  footer a {
    font-size: 1.3em;
    text-decoration: none;
    color: black; }

#footerMain {
  flex-direction: row;
  display: flex;
  margin-top: 7em;
  width: 80%; }
  #footerMain img {
    width: 15em; }
  #footerMain li {
    list-style-type: none; }

.leftfooter, .centerfooter, .rightfooter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.rightfooter {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .rightfooter h3 {
    padding-bottom: .3em; }
  .rightfooter button {
    width: 50%; }
  .rightfooter input {
    padding: 1em;
    width: 50%; }

#footerUnder {
  margin-top: 2em;
  padding-bottom: .5em; }

/* ------------------------   ABOUT US PAGE -------------------------------------*/
.column-half {
  width: 50%; }

.space-under {
  margin-bottom: 30px; }

.img-responsive {
  max-width: 100%; }

.about-us h2 {
  text-align: center;
  margin: 30px 0; }

/*Event page specific */
.event-date {
  text-align: center;
  padding: 10px;
  background-color: pink;
  width: 100px; }

.social-media-calendar {
  margin-top: 100px; }

/* ------------------------   Admin  ------------------------  */
#adminHeader {
  background: lightgray;
  width: 100%;
  height: 3em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 1em; }

#adminlogo {
  flex: 5;
  flex-direction: row;
  display: flex;
  align-items: center; }
  #adminlogo img {
    width: 3em; }

#adminMenu {
  display: flex;
  justify-content: space-around;
  flex: 1; }

#adminPage {
  width: 75%;
  height: 100%;
  background: lightgray;
  margin-top: 1em; }

/* special for tabs*/
.admContent > div {
  display: none;
  padding: 20px 25px 5px; }

.admMain {
  background: #fff; }
  .admMain input[type="radio"] {
    display: none; }
  .admMain label {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center; }
  .admMain label:hover {
    cursor: pointer;
    background: #ed5a6a; }
  .admMain input:checked + label {
    /*targets active tab */
    background: #d3d3d3; }

/* uses checkbox to turn them on and off */
#tab1:checked ~ .admContent #events,
#tab2:checked ~ .admContent #partners,
#tab3:checked ~ .admContent #AddEvents,
#tab4:checked ~ .admContent #AddPartners,
#tab5:checked ~ .admContent #AddUser {
  display: block; }

/* end special for tabs */
.admContent {
  background: lightgray; }
  .admContent .row {
    border: 1px solid;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .admContent button {
    width: 5em; }

/*icon */
time.icon {
  display: flex;
  flex-direction: column;
  border-radius: 0.6em;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd; }
  time.icon strong {
    background: orange;
    border-radius: .6em .6em 0 0;
    padding: .3em; }
  time.icon span {
    font-size: 2em; }

#partners img {
  width: 5em; }

/* ------------------------   ADMIN EDIT PAGE -------------------------------------*/
.admEdit {
  display: flex;
  height: 100%;
  width: 100%; }
  .admEdit section {
    flex: 2;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .admEdit section input {
      width: 100%;
      padding: 1em;
      margin: 1em 0; }
    .admEdit section textarea {
      width: 100%;
      padding: 1em;
      height: 50%;
      margin: 1em 0; }
    .admEdit section button {
      width: auto; }
  .admEdit aside {
    flex: 1;
    background: blue; }

button#EditPageSave {
  width: 15em; }

section.admSecHalf {
  display: flex;
  justify-content: center; }

#AddUser section {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin: 1em 0; }
#AddUser input {
  width: 50%;
  padding: 1em;
  margin: 1em 0; }
#AddUser button {
  margin: 1em;
  width: 50%; }

/*-------------------------------------  searchpage -------------------------------------*/
#filter {
  height: 3em;
  width: 13.7em;
  margin: .5em 1.2em;
  padding-left: 1em; }

input.searchTerm {
  height: 3em;
  padding-left: 1em; }

input.searchBtn {
  height: 3em;
  width: 3em;
  margin: .5em 1em; }

/*# sourceMappingURL=style.css.map */
