
/*-------------------------------------  Color variables (Following our style guide) -------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

$button: #028910; //Japanese Laurel: Green
$titles: #028910; //Japanese Laurel: Green

$background: #EEEEEE; //Gallery: Grey

$hoverbutton: #015F0B; //Camarone: Dark Green
$hoverbuttonwarning: #FF5822; // Outrageous Orange: Orange
$hoverbuttonalert: #CC0000; // Guardsman Red: Red

$logofont: 'Righteous', cursive;
$bodyfont: 'Droid Sans', sans-serif;


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: $bodyfont;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background;
}

header {
  width: 100%;
  background: grey;
  height: 25em;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
}

#wrapper {
  display: flex;
  width: 50%;
  justify-content: center;
}

#innerWrapper {
  margin: -15em 0;
  z-index: 1000;
  background: #fff;
  padding: 1em 0;
  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2em 0;
  }
}

#contentContainer {
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 0 1em;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  width: 100%;
  justify-content: space-around;
}


button, input[type=submit] { /*this should become a global rule! all buttons should be the same */
  padding: 1em;
  width: 50%;
  background-color: #028910;
  color: #fff;
  font-weight: 800;
  border: 0;
  transition: background-color 1s;
}
button:hover, input[type=submit]:hover {
  background-color: $hoverbutton;
  cursor: pointer;
}

.btnMenuSearch {
    position: relative;
    z-index: 1;
    left: -35px;
    top: 1px;
    cursor:pointer;
    width: 0;
}

/*-------------------------------------  index -------------------------------------*/
#fpHeaderBanner {
  background: url(../img/fpHeader.jpg) no-repeat center;
  background-size:cover;
}

#fpWrapperHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  height: 20em;
  width: 20em;
  margin: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContentWrapper{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.fpBoxTop {
    display: flex;
    flex: 1;
}

.eventimg {
    display: flex;
    flex: 1;
    max-width:100%
}

.price {
    background-color: rgba(255,255,255,.92);
    font-size: 0.75em;
    line-height: 1.2em;
    color: #282C35;
    padding: 0.2em 0.625em;
    position: absolute;
    z-index: 1;
    margin-top: 0.6em;
    margin-left: 22.6em;
}

.fpBoxContent {
    display: flex;
    background: white;
    flex: 1;
    display: inline-block;
    padding: 0.313em 0.938em;
    line-height: 180%;
}

.fpLocation {
    font-size: small;
    justify-content: space-between;
    display: flex;
    margin-top: 1.5em;
}

i.fa.fa-map-marker {
    padding: 0.3em;
    font-size: 1.3em;
    width: 1.6em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #028910;
    color: #fff;
    border: 1px solid #028910;
    transition: background-color 2s;
}

i.fa.fa-map-marker:hover {
  background: #fff;
  cursor: pointer;
  color: #028910;
  border: 1px solid #028910;
}
#btnFindMoreEvents {
  width: 100%;
  display: flex;
  justify-content: center;
}



/*------------------------------------- Contact page specific -------------------------------------*/
#contactHeader {
  background: url(../img/contactbanner.jpg) no-repeat center;
  background-size:cover;
}

#contactInfo {
  display: flex;
  flex: 1;
  li {
    list-style-type: none;
    padding: .5em 0;
  }
}

#socialMedia {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  .fa {
    font-size: 3em;
    padding: .2em;
  }
  .fa:hover {
    color: #028910;
    cursor: pointer;
  }

}

#googleMap {
  width:100%;
}

/*contact form*/
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  input, textarea {
    padding: 1em;
  }
  .row {
    margin: 0;
  }
  textarea {
    width: 100%;
    height: 10em;
    margin: 1em;
  }
}

input.textField {
  width: 50%;
  margin: 1em;
}

input.subject.textField {
  width: 100%;
}


/* ------------------------   END CONTACT PAGE -------------------------------------*/


/* ------------------------   PARTNERS PAGE -------------------------------------*/

#partnerheader {
  background: url(../img/partnersbanner.jpg) no-repeat center;
  background-size:cover;
}

.leftpanel {
  width: 50%;
  float: left;
}

.leftpanel h2, .rightpanel h2 {
  text-align: left;
  margin: 0;
}

.rightpanel {
  width: 50%;
  float: right;
}

.rpButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerBox {
  display: flex;
  a {
    display: flex;
    align-items: center;
    margin-right: .5em;
  }
}

.partnerRow {
  flex-direction: column;
}

.partnerBoxContent {
  margin: 1em 1em 1em 0;
}

#outPartners {
  margin-top: 2em;
}

/*currently exclusive to partners? */
.innerRow {
  flex-direction: row;
  flex: 1;
  display: flex;
  /*some of these also apply to the box below it in the html (all innerRow boxes*/
  p {
    flex: 1;
    padding:0 1em;
  }
  ul {
    flex:1;
    padding:0 1em;
  }
}

.ourpartners {
  text-align: center;
}

#iconRow {
  justify-content: center;
  display: flex;
  margin-top: 2em;
}

/* ------------------------   NAVIGATION (Header + Footer) -------------------------------------*/

.navigation {
  background-color: #363636;
  width: 100%;
  display: flex;
  height: 75px;
}

nav ul {
  display: flex;
}

.logo {
  width: 15em;
  margin-left: 20px;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right:1em;
}

.navitems a{
  font-size: 1.3em;
  text-decoration: none;
  margin: 1em;
  color: #ffffff;
  transition: border-bottom 1s;
  border-bottom: 1px solid #363636;
}
.navitems a:hover{
  color: #028910;
  border-bottom: 1px solid #fff;
}

.navitems button {
  width: 10em;
}

.logolinkcontainer {
  display: flex;
  align-items: center;
  flex: 1;
  padding-top: 3px;
  justify-content: flex-start;
}

.partner {
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    color: green;
  }

.navigationSearch {
  padding: 1em 0;
  width: 0;
  transition: width 600ms;
  }

.navigationSearch::placeholder {
  padding-left: 1em;
}

.navigationSearch:-ms-input-placeholder {
  padding-left: 1em;
}

.navigationSearch:active, .navigationSearch:hover, .navigationSearch:focus {
  width: 14em;
}

footer {
  background-color: #363636;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width:100%;
  a {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
  }
}

#footerMain {
  flex-direction: column;
  display: flex;
  margin-top: 18em;
  width: 80%;
  img {
    width: 15em;
  }
  li {
    list-style-type: none;
  }
}

.footerLevel1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  h3 {
    padding-bottom:.3em;
  }
  button {
    width:50%;
  }
  input {
    padding: 1em;
    width: 50%;
  }
}

.footerLevel2 {
  margin-top: 3em;
}

.leftfooter, .centerfooter, .rightfooter{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerfooter {
  text-align: center;
}

#footerUnder {
  margin-top: 2em;
  padding-bottom: .5em;
}

/* ------------- Mobile menu ------------- */
.menu-btn {
  display: none;
}

.menu-btn div {
  position: absolute;
  right: 2em;
  top: 1.3em;
  z-index: 99999;
}

.menu-btn span {
  display: block;
  width: 23px;
  height: 4px;
  margin: 5px 0;
  background: #fff;
}

.responsive-menu{
  display: none;
}

.expand {
  display: block !important;
}

/*hamburger menu */
#mobileMenu {
    position: absolute;
    left: 0;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #363636;
    width: 100%;
    z-index: 10000;
    a {
      padding-top: 1em;
      font-size:1.5em;
      color: #fff;
      text-decoration: none;
    }
}

.menuSearch {
  display: flex;
  align-items: center;
  button {
    padding: .9em;
    width: 5em;
    margin-left: 1.9em;
    margin-top: -.1em;
  }
}

/*brings out the search when you hover.*/
.menuSearch:hover .navigationSearch, .menuSearch:active .navigationSearch, .menuSearch:focus .navigationSearch {
  width: 14em;
}




/* ------------------------   ABOUT US PAGE -------------------------------------*/

#aboutUsHeader {
  background: url(../img/aboutusbanner.jpg) no-repeat center;
  background-size:cover;
}

.column-half {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    width: 350px;
    margin-top: .2em;
  }
}

.space-under {
  margin-bottom: 30px;
}

.testimonialContainer {
  margin: 0 1em 1em 1em;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.testimonalGiver {
  color: grey;
  padding-top: .5em;
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

/* ------------------------   Event page specific  ------------------------  */

.socialMedia-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

#EventregisterButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#EventSocialMedia {
  display: flex;
  align-items: flex-end;
  flex: 1;
  button {
    height: 3em;
    width: 100%;
  }
  i {
    font-size: 2em;
    margin: 0 .5em;
  }
}

#eventMap iframe#googleMap {
  height: 15em;
}



/* ------------------------   END Event page   ------------------------  */

/* ------------------------   Admin  ------------------------  */
#adminHeader {
  background: lightgray;
  width: 100%;
  height: 3em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

#adminlogo {
  flex: 5;
  flex-direction: row;
  display: flex;
  align-items: center;
  img {
    width: 3em;
  }
}

#adminMenu {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

#adminPage {
  width: 75%;
  height:100%;
  background: lightgray;
  margin-top: 1em;
}

/* special for tabs*/
.admContent > div {
    display: none;
    padding: 20px 25px 5px;
  }

.admMain {
  background:#fff;

    input[type="radio"] {
      display: none;
    }
    label {
      display: inline-block;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
    }
    label:hover {
      cursor: pointer;
      background: #ed5a6a;
    }
    input:checked + label { /*targets active tab */
      background: #d3d3d3;
    }
}


/* uses checkbox to turn them on and off */
#tab1:checked ~ .admContent #events,
#tab2:checked ~ .admContent #partners,
#tab3:checked ~ .admContent #AddEvents,
#tab4:checked ~ .admContent #AddPartners,
#tab5:checked ~ .admContent #AddUser {
  display: block;
}
/* end special for tabs */

.admContent {
  background:lightgray;
  .row {
    border: 1px solid;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
    width: 5em;
  }
}

.btnDeleteEvent:hover, .btnDeletePartner:hover {
  background-color: #FF5822;
}

  /*icon */
  time.icon {
    display: flex;
    flex-direction: column;
    border-radius: 0.6em;
    align-items:center;
    background: #fff;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;

    strong {
      background: #028910;
      border-radius: .6em .6em 0 0;
      padding: .3em 1em;
      color: white;
    }

    span {
      font-size: 2em;
    }
}

#partners img {
  width: 5em;
  transition: color 1s;
}

.partner:hover {
  color: #015F0B;
}

/* This is used for deleting events & partners based on the ID, and is not shown to the user */
.eventID, .partnerID {
  display: none;
}

  .eventID2, .partnerID2 { /* This is used to identify which event/partner ID the edit image belongs to, and is not shown to the user */
    display: none; 
  }


    /* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #2196F3;
  color: white;
  text-align: center; }

.modal-body {
  padding: 2px 16px;
  text-align: center; }

  .eventImagePreview, .partnerImagePreview {
    width: 50%;
  }


/* ------------------------   ADMIN EDIT PAGE -------------------------------------*/
.admEdit {
  display: flex;
  height: 100%;
  width:100%;
  section {
    flex: 2;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    input {
      width:100%;
      padding:1em;
      margin: 1em 0;
    }
    textarea {
      width:100%;
      padding:1em;
      height:50%;
      margin: 1em 0;
    }
    button {
      width:auto;
    }
  }
  aside {
    flex: 1;
    background: blue;
  }
}

button#EditPageSave {
  width: 15em;
}

section.admSecHalf {
  display: flex;
  justify-content: center;
}

#AddUser {
  section {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
  }
  input {
    width: 50%;
    padding:1em;
    margin: 1em 0;
  }
  button {
    margin: 1em;
    width: 50%;
  }
}

 /*-------------------------------------  searchpage -------------------------------------*/
#eventsHeader {
  background: url(../img/searchResultsbanner.jpg) no-repeat center;
  background-size:cover;
}


#SearchDateSelector {
  flex: 2;
  justify-content: flex-start;
  display: flex;
}

.searchForm {
  display: flex;
  align-items: center;
}

.events a.box {
  color: black;
  text-decoration: none;
}

#SRFilter {
  display: flex;
  align-items: center;
}

  input.searchTerm, input#date, input#location, input#tags {
    height: 3em;
    padding-left: 1em;
  }

  input.searchBtn {
    height: 3em;
    width: 10em;
  }

/*------------------------------------------------------------------------------------------------*/
/*-------------------------------------  RESPONSIVE STYLING  -------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

/* Mobiles up to 426 */
@media only screen and (max-width: 769px) {
  #contentContainer {
    width: 100vw;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  input.textField {
    width: 100%;
    margin: 1em 0;
  }

  #contactForm textarea {
    margin: 1em 0;
  }

  /*About specific*/
  .column-half img {
    width: 100%;
  }

  .innerRow {
    flex-direction: column;
    p {
      padding: 0;
      margin: 1em 0;
    }
  }

  /*partners*/
  .partnerBox {
    flex-direction: column;
  }

  .leftpanel {
    width: 100%;
  }

  .rpButton {
    width: 100%;
    margin-top: 2em;
  }

  #iconRow {
    flex-wrap: wrap;
  }

  /*event specific */
  .event-date {
    width: 5.5em;
  }

  .column-half {
    align-items: center;
  }

  #EventregisterButton {
    margin: 2em;
  }

  #EventSocialMedia {
    flex-wrap: wrap;
    justify-content: center;
  }

  #EventSocialMedia i {
    margin: 0.7em;
  }
  .footerLevel1 {
    width:80%;
    button {
      width:100%;
    }
    input {
      padding: 1em;
      width: 100%;
    }
  }
  .centerfooter, .rightfooter {
    margin-top: 1em;
  }

  /*MENU*/
  .navitems {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  /* mobile specific */
  .navigationSearch {
    margin: 2em 0;
  }

  #contactInfo {
    width: 100%;
  }

}

@media only screen and (max-width: 1230px) and (min-width: 768px)  {
  /*min greater than or equal to - Max less than or equal to*/

  /*MENU*/
  .navitems {
    display: none;
  }
  .menu-btn {
    display: block;
  }

  /* mobile specific */
  .navigationSearch {
    margin: 2em 0;
  }
  #wrapper {
    width: 80%;
  }
  #contactInfo {
    width: 100%;
  }


}

@media only screen and (max-width: 1441px) and (min-width: 1231px) {
  /*min greater than or equal to - Max less than or equal to*/
  #wrapper {
    width: 80%;
  }
}